@model IEnumerable<object>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Admin - Users</h3>
<table class="table">
<thead><tr><th>User</th><th>Email</th><th>Roles</th></tr></thead>
<tbody>
@foreach(var u in Model){
    <tr>
        <td>@u.GetType().GetProperty("UserName").GetValue(u)</td>
        <td>@u.GetType().GetProperty("Email").GetValue(u)</td>
        <td>@string.Join(", ", (IEnumerable<string>)u.GetType().GetProperty("Roles").GetValue(u))</td>
    </tr>
}
</tbody>
</table>
<form method="post" asp-action="AddRole" class="row g-2">
    <div class="col-auto"><input name="role" class="form-control" placeholder="Role name"/></div>
    <div class="col-auto"><button class="btn btn-primary">Add Role</button></div>
</form>
