@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ConfirmEmailSuccessTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Localizer["ConfirmEmailSuccessTitle"]</h3>
<p>@Localizer["ConfirmEmailSuccessMessage"] <a href="/Account/Login">@Localizer["Login"]</a>.</p>
