@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ConfirmEmailFailedTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Localizer["ConfirmEmailFailedTitle"]</h3>
<p>@Localizer["ConfirmEmailFailedMessage"]</p>
