@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Reset Password</h3>
<form method="post" asp-action="ResetPassword">
    <input type="hidden" name="userId" value="@ViewData["userId"]" />
    <input type="hidden" name="token" value="@ViewData["token"]" />
    <div class="mb-3"><label>New password</label><input name="newPassword" type="password" class="form-control" /></div>
    <button class="btn btn-primary">Reset password</button>
</form>
